In [1]:
import pandas as pd

In [5]:
df = pd.read_table('Data_28_F29.txt', delimiter=',')

In [6]:
df.head()

,FID,ID,FIELD,OID_1,YLD00,YLD01,YLD02,YLD03,AVGYLD,ELE,...,M3_00,M3_01,M3_02,M3_03,M3_AV,CL_AV,CL_00,CL_01,CL_02,CL_03
0,0,3018,C29,3017,1012.799988,1201.900024,943.599976,1082,1060.099976,1080.06,...,3.0,3.0,2.0,3.0,3.0,1.0,1.0,1.0,1.0,3.0
1,1,3019,C29,3018,930.000000,1352.000000,1033.099976,1202,1129.199951,1080.08,...,3.0,3.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,3.0
2,2,3020,C29,3019,902.000000,1389.400024,1073.699951,1196,1140.300049,1080.10,...,3.0,3.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,3.0
3,3,3021,C29,3020,931.900024,1348.099976,1042.400024,1120,1110.599976,1080.13,...,2.0,3.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0
4,4,3022,C29,3021,885.000000,1301.199951,978.400024,1119,1070.800049,1080.18,...,2.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0

In [7]:
columns = ['ID','FIELD','YLD00','YLD01','YLD02','YLD03','AVGYLD','ELE','SLOPE','CURV',
           'PRO','PLAN','EC_SH','EC_DP','BAND1','BAND2','BAND3','BAND4','VI00_520','VI00_528',
           'VI00_613','VI00_707','VI00_715','VI00_723','VI00_816','VI00_824','VI00_901','VI00_917',
           'VI01_616','VI01_624','VI01_710','VI01_827','VI01_912','VI02_518','VI02_526','VI02_619',
           'VI02_713','VI02_721','VI02_830','VI02_907','VI02_923','VI03_505','VI03_529','VI03_606',
           'VI03_622','VI03_724','VI03_825','VI03_926']

In [12]:
df[columns].describe()

,ID,YLD00,YLD01,YLD02,YLD03,AVGYLD,ELE,SLOPE,CURV,PRO,...,VI02_830,VI02_907,VI02_923,VI03_505,VI03_529,VI03_606,VI03_622,VI03_724,VI03_825,VI03_926
count,975.000000,975.000000,975.000000,975.000000,975.000000,975.000000,975.000000,975.000000,975.000000,975.000000,...,975.000000,975.000000,975.000000,975.000000,975.000000,975.000000,975.000000,975.000000,975.000000,975.000000
mean,2857.542564,907.885437,1253.264923,943.772410,930.962051,1008.962668,1080.427949,0.246383,0.000196,-0.000470,...,0.320109,0.214965,0.016917,-0.097203,-0.232391,-0.180239,-0.181062,-0.050577,0.093044,0.075182
std,792.151212,213.261213,218.544305,246.310259,233.437893,186.826414,0.537060,0.168585,0.015932,0.009602,...,0.109565,0.098675,0.070082,0.064934,0.007854,0.013361,0.020833,0.067392,0.064712,0.092275
min,1363.000000,272.899994,627.000000,209.399994,346.000000,372.399994,1079.050000,0.032900,-0.083774,-0.068728,...,-0.060870,-0.160000,-0.165354,-0.227273,-0.260000,-0.220779,-0.225532,-0.194915,-0.165644,-0.128440
25%,2158.500000,780.500000,1118.100037,806.099976,775.000000,918.199982,1080.120000,0.129450,-0.006467,-0.004700,...,0.272233,0.151515,-0.035176,-0.148936,-0.237410,-0.189065,-0.194313,-0.112741,0.051282,0.005291
50%,2959.000000,906.799988,1256.599976,991.000000,938.000000,1027.400024,1080.400000,0.199300,0.000334,-0.000278,...,0.340909,0.229885,0.016216,-0.089744,-0.232472,-0.179191,-0.183673,-0.032258,0.093333,0.071038
75%,3546.500000,1061.599976,1389.100037,1115.400024,1087.000000,1139.600037,1080.760000,0.318300,0.007187,0.003827,...,0.395604,0.285714,0.067416,-0.051414,-0.227273,-0.170984,-0.171053,0.005348,0.139959,0.144578
max,4083.000000,1515.400024,1833.000000,1623.500000,1556.000000,1470.400024,1081.960000,1.499200,0.120556,0.050289,...,0.497326,0.393939,0.181818,0.059603,-0.208511,-0.084337,-0.038835,0.071823,0.248322,0.309091

In [13]:
df['FIELD'].unique()

array(['C29', 'C28'], dtype=object)